.inset {
  margin-top: 15px;
}

.inset__img {
  position: relative;
  width: 554px;
  height: 554px;
  margin-bottom: 120px;
}

.inset__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 50%;
}

.inset p {
  font-family: inherit;
  font-size: 34px;
  line-height: 42 / 34 * 1;
  color: #996500;
  text-align: center;
  padding-left: 64px;
  padding-right: 64px;
}

.inset__img::after {
  display: block;
  position: absolute;
  content: "";
  width: 85%;
  border-bottom: 4px dotted #d29e2b;
  left: 50%;
  transform: translateX(-50%);
  bottom: -65px;
}
