.page-footer {
}

.page-footer__business {
  display: block;
  font-family: inherit;
  font-size: 25px;
  text-align: right;
  color: #392424;
  padding: 80px;
}

.page-footer__business a {
  color: #336599;
}
