.sidebar {
  margin-top: 12px;
}

.sidebar ul {
  padding-left: 50px;
  margin-bottom: 112px;
}

.sidebar__list li {
  position: relative;
  font-family: inherit;
  font-size: 34px;
  color: #336599;
  padding-left: 0;
  margin-bottom: 25px;
}

a.sidebar__link-active {
  color: #ff6666;
  text-decoration: none;
}

a.sidebar__link-active::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 3px;
  top: 50%;
  left: -50px;
  transform: translateY(-50%);
  background-color: #ff6666;
  text-decoration: none;
}
