.toggle-gallery {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //width: 1658px;
  width: 86.35vw;
  height: 2px;
  left: 50%;
  //bottom: 30px;
  bottom: 1.56vw;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 30;

  @media (max-width: 1600px) {
    width: 82.8vw;
  }

  @media (max-width: 1480px) {
  }

  @media (max-width: 1280px) {
  }

  @media (max-width: 1180px) {
  }

  @media (max-width: 1080px) {
  }
}

.toggle-gallery__item {
  //width: 52px;
  //height: 23px;
  width: 52px;
  height: 23px;
  margin-top: -3px;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  cursor: pointer;
  z-index: 15;

  @media (max-width: 1600px) {
    width: 41px;
    height: 18px;
  }

  @media (max-width: 1280px) {
    width: 34px;
    height: 15px;
  }

  @media (max-width: 1180px) {
  }

  @media (max-width: 1080px) {
  }
}

.toggle-gallery__item--prev {
  //left: -52px;
  margin-left: -2.7vw;

  @media (max-width: 1600px) {
    margin-left: -2.5vw;
  }

  @media (max-width: 1280px) {
  }
}

.toggle-gallery__item--next {
  //right: -52px;
  margin-right: -2.7vw;
  transform: scaleX(-1);

  @media (max-width: 1600px) {
    margin-right: -2.5vw;
  }

  @media (max-width: 1280px) {
  }
}

.toggle-gallery--photoarchive {
  bottom: 85px;

  @media (max-width: 1600px) {
    bottom: 64px;
  }

  @media (max-width: 1280px) {
    bottom: 53px;
  }
}
